html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  color: blue;
}

#lorem {
  color: red;
}

.div-text {
  color: #789abc;
}

.whatever {
  color: #ee2765;
  font-size: 30px;
  background-color: #ffff00;
  border: 5px dashed green;
  box-shadow: 5px 1px 3px #111111;
}
